header {
    padding: 2px;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}

tr {
  height: 48px;
}

.c-data {
    display: inline-block;
    align-self: start;
    align-self: auto;
}

.c-check {
    display: inline-block;
}


.th-data {
    text-align: center;
}

.th-icone {
    text-align: center;
}

.td-data {
    text-align: center;
    width: 12%;
}

.td-check {
    text-align: center;
}

.form-check {
    display: flex;
    justify-content: center;
    min-width: 60px;
}

.fixed-bottom {
    background-color: #e7e7e7; 
    padding-top: 10px;
}

#button-bar {
    border: 6px solid #e7e7e7; 
    margin-bottom: 20px; 
    margin-left: 15px;
}

#add-checklist {
    transition: .08s;
}

#add-checklist:hover {
    color: white;
}

.checkbox-lg .form-check-input{
    scale: 1.8;
    margin-top: 10px;
}

.checkbox-lg .form-check-label {
    padding-top: 8px;
}

body {
    background-color: var(--bs-body-bg);
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}   